img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.card .card-image .card-title {
  color: #170000;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
}
