{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fun starts here!</title>
 
    <link rel="icon" type="image/png"  href="{% static 'logo.png' %}"/>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <nav>
  
    
    <div class="nav-wrapper orange lighten-1">
      
    <a> <img href="#" class="brand-logo"><img src="../static/Capture.jpg" alt="" height="64" width="64"> <a href="#" class="brand-logo center">Azerion Game Portal</a> </img></img></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="btn" href="admin">Sign-in</a></li>
        <li><a class='btn' href="collapsible.html">Sign-up</a></li>

     <!-- Dropdown Trigger -->
  <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Categories</a>  
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
  </ul>
        
      </ul>
      
    </div>
  </nav>

  <div class="row" >
    {%for Game in games %}
    <div class="col s6 m2 offset-s3">
      <div class="card small z-depth-2">
        <div class="card-image">
          <img src="{{Game.image.url}}">
          <span class="card-title">{{Game.title}}</span>
        </div>
        <div class="card-content">
          <p >{{Game.description}}</p>
        </div>
        <div class="card-action">
          <a href={{Game.url}} >Play!</a>
        </div>
      </div>
    </div>
    {%endfor%}
    </div>


<div class="text-align center">
  <h2> Are you stuck? Don't Worry, here's a Walkthrough!</h2>
</div>



<div class="container ">
</div>
<div class="row">
  <div class="col s2">
    <div class="card-small right"> Ad Space 1</div>
</div>

</div>
  <div class="card-large center"> 
  <iframe width="1000" height="600" src="https://www.youtube.com/embed/X74aF8k4vC4" frameborder="0"  allowfullscreen></iframe>
</div>

</div>
  



<footer class="page-footer orange lighten-1"">
  <div class="container">
    <div class="row">
      <div class="col l6 s5">
        <h5 class="white-text">Privacy Disclaimer</h5>
        <p class="grey-text text-lighten-4">
          Data security
          We use appropriate technical and organizational security measures to protect stored personal data against manipulation, partial or total loss, and unauthorized access by third parties. Our security measures are continually upgraded as technology advances.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links for more fun Games!</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.gamesgames.com/">Games Games - Enjoy Spill Games!</a></li>
          <li><a class="grey-text text-lighten-3" href="https://gamedistribution.com/">Visit Game Distribution to publish your game here!</a></li>
          <li><a class="grey-text text-lighten-3" href="https://kizi.com/">Kizi - Great Website for fun games!</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020 Azerion 
    <a class="grey-text text-lighten-4 right" href="https://www.azerion.com/">Azerion Website</a>
    </div>
  </div>
</footer>

<body>
  
</html>
